@tailwind base;

html {
  line-height: 1.15;
}

@tailwind components;

@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply .font-sans .text-black;
}

body {
  @apply .leading-normal;
}

@import "~@fortawesome/fontawesome-free/css/all.min.css";

body h1,
body .h1 {
  @apply .text-h1 .leading-tight .font-medium;
}

.bg-base16 {
  background-color: #282828;
}
.comment-base16 {
  color: #585858;
}
.text-base16 {
  color: #d8d8d8;
}
.number-base16 {
  color: #dc9656;
}
.string-base16 {
  color: #a1b56c;
}
.key-base16 {
  color: #ab4642;
}
.delimiter-base16 {
  color: #d8d8d8;
}
.value-base16 {
  color: #f8f8f2;
}
.null-base16 {
  color: #b8b8b8;
}
.boolean-base16 {
  color: #dc9656;
}
.selection-base16 ::selection {
  background: #383838;
}
